@charset "UTF-8";

/* Selection */

::-moz-selection {
    background: black;
    color: white;
}

::selection {
    background: black;
    color: white;
}

/* Focus */

:focus {
    outline: 0.0625em dotted black;
}

/* Disabled */

:disabled ,
[ disabled ] {
    cursor: not-allowed;
}

/* Hidden */

comment,
template ,
[ hidden ] {
  display: none;
}

/* Title */

[ title ] {
    cursor: help;
    text-decoration: underline;
    text-decoration: underline dotted;
}

/* Action */

a ,
button , 
select ,
input[ type="button" ] ,
input[ type="file" ] ,
input[ type="reset" ] ,
input[ type="submit" ] ,
input[ type="checkbox" ] ,
input[ type="radio" ] ,
label[ for ] {
	cursor: pointer;
}

/* Language */

[ lang ]:lang( en ) {
    quotes: "‘" "’" "“" "”";
}
[ lang ]:lang( en-CA ) ,
[ lang ]:lang( en-US ) {
    quotes: "“" "”" "‘" "’";
}
[ lang ]:lang( fr ) {
    quotes: "«" "»" "“" "”";
}
[ lang ]:lang( de ) {
    quotes: "„" "“" "‚" "‘";
}
[ lang ]:lang( hu ) {
    quotes: "„" "”" "»" "«";
}
[ lang ]:lang( pl ) {
    quotes: "„" "”" "»" "«";
}
[ lang ]:lang( ru ) {
    quotes: "«" "»" "„" "“";
}
[ lang ]:lang( sk ) {
    quotes: "„" "“" "‚" "‘";
}

q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

/* Replaceable Elements */

audio ,
canvas ,
embed ,
img ,
iframe ,
object ,
svg ,
video {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    -ms-interpolation-mode: bicubic;
}

audio:not( [ controls ] ) {
  display: none;
  height: 0;
}

svg:not( :root ) {
  overflow: hidden;
}

video::-webkit-media-controls ,
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

/* Inline elements */

b , strong {
  font-weight: bolder;
}

i , em , dfn {
  font-style: italic;
}

code , kbd , pre , samp {
  font-family: monospace;
}

dfn , em {
  font-style: italic;
}

del , s , strike {
  text-decoration: line-through;
}

ins {
    text-decoration: underline;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms */

textarea {
  overflow-x: hidden;
  overflow-y: auto;
  resize: vertical;
}

/* HTML5 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

progress {
  display: inline-block; /* 1 */
}


details, /* 1 */
menu {
  display: block;
}


details {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
details summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
details summary::-webkit-details-marker {
  display: none;
}
details:not([open]) > {
  display: none;
}
details[open] > {
  display: block;
}